.primaryButton{
    background-color: #E30613;
    color: white;
    border: none;  
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
    width: 100%;
}

.primaryButton:hover{
    background-color: #C0000D;
}

.primaryButton:disabled{
    background-color: #555;
    cursor: not-allowed;
}