.homeLayout {
    min-height: 100vh;
    color: white;
    padding-top: 80px;
    padding-bottom: 90px;
}

.header {
    background-color: #121212;
    padding: 15px 0;
    border-bottom: 3px solid #E30613;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.headerTitle {
    color: white;
    text-align: center;
    font-size: 2em;
    margin: 0;
    letter-spacing: 2px;
}

.productList {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0 10px;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.card {
    width: 90%;
    max-width: 450px;
}

.navContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    gap: 15px;
}

.navLinks {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navLink {
    color: white;
    font-weight: 500;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s ease;
}

.navLink:hover {
    color: #E30613;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #121212;
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
    border-top: 3px solid #E30613;
}

.footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.footerTitle {
    color: #E30613;
    font-size: 1.2em;
    font-weight: bold;
}

.footerLinks {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.footerLink, .footerCopy {
    color: #aaaaaa;
    font-size: 0.9em;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footerLink:hover {
    color: #ffffff;
}

.logoutButton {
    background-color: #E30613;
    color: white;
    border: none;  
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.logoutButton:hover {
    background-color: #ff3344; 
    transform: translateY(-1px);
    box-shadow: 0 2px 5px rgba(227, 6, 19, 0.5); 
}

.logoutButton:active {
    background-color: #cc0000; /* Vermelho mais escuro no clique */
    transform: translateY(0);
}

@media (min-width: 768px) {
    .productList{
        align-items: center;
        padding: 0 30px;
    }

    .cardContainer {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
        gap: 15px;
        max-width: 1200px;
    }

    .card {
        width: 45%;
        max-width: 350px;
        height: 100%;
    }

    .navContent {
        flex-direction: row;
        justify-content: space-between;
        gap: 15px;
    }

    .navLinks {
        gap: 25px;
    }

    .headerTitle {
        font-size: 2em;
    }

    .footerContent {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    .footerLinks {
        flex-direction: row;
        gap: 20px;
        margin-right: auto;
        margin-left: 20px;
    }
}

@media (min-width: 1024px) {
    .cardContainer {
        gap: 20px;
    }

    .card {
        width: 300px;
        height: 100%;
    }
}