body  {
  margin: 0;
  padding: 0;
  background-color: #000000;
  font-family: Arial, sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}

.App {
  min-height: 100vh;
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
}
