body  {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../src/assets/fundo-de-tela.jpg'); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}

.App {
  min-height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
}
