.loginContainer {
    width: 90%; 
    max-width: none; 
    margin: 40px auto; 
    padding: 25px 20px;
    background-color: #121212;
    border-radius: 0; 
    box-shadow: none; 
    text-align: center;
}

.loginTitle {
    color: #E30613;
    margin-bottom: 25px;
    font-size: 2em;
}

@media (min-width: 768px) {
    .loginContainer {
        max-width: 80%; 
        padding: 40px;
        margin: 80px auto; 
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(227, 6, 19, 0.5);
    }
}

@media (min-width: 1024px) {
    .loginContainer {
        max-width: 400px; 
        margin: 50px auto;
        padding: 30px;
    }
}